.dropdown-menu {
    width: 250px;
    position: absolute;
    top: 80px;
    right: 14rem;
    list-style: none;
    text-align: start;
    transition: .6s;


     & li{
    background: #aaebe99a;
    transition: .6s;
    cursor: pointer;
    
        &:hover{
            background: pink;
        }
    }

    &.clicked{
        display: none;
    }
}

.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
    transition: 1s;

}


