:root {
    --primary: #e34c80;
}

.butn{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border:  2px solid var(--primary);

    font-size: 18px;
    color: black;
    cursor: pointer;
    background-color: #e34c80;
    transition: 0.6s;


    &:hover{
        // padding: 6px 18px;
        background-color: transparent;
        // color: black;
        // border-radius: 4px;
        border:  2px solid var(--primary);
    }
}