body{
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/wave-primary.svg), url(../../../assets/wav.svg);
    background-repeat: no-repeat;
    background-size: 65%, 68%;
    background-position: 130% 15%,128% 15%;
    animation: wave 3s cubic-bezier(0.28,0,0.41,1) infinite;
    font-family: Helvetica, Arial, sans-serif;

}
@keyframes wave{
    0%,100%{
        background-position-x: 130%,128%;
    }
    60%{
        background-position-x: 140%,140%;
    }
}
.about-head{
    position: relative;
    top: 100px;
    margin-left: 6rem;

    & .head-text{

        & .hr{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: rgb(81, 255, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }
        & h2{
            // font-size: 30px;
            display: flex;
        }
    }
}
.about-head-2{
    position: relative;
    top: 120px;
    // display: flex; 
    // gap: 10px;
    // flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    & .about-box{
        max-width: 700px;
        // border: 1px solid red;
        // background-image: url(../../img/about-1.jpeg);
  background-attachment: fixed;



        & h2,h3{
            color: #e34c80;
        }

        & p{
            color: #393838e1;
            font-size: 15px;
            font-weight: bold;
        }
    }
}
.about-box::before {
    content: "";
    background-image: inherit;
    filter: blur(5px); /* Bulanıklık miktarını ayarlayabilirsiniz */
    // backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Metinlerin önden gelmesini sağlar */
}